@import '../src/scss/variables';

.esh-header {
  background-color: #00a69c;
  height: 4rem;
}
.esh-app-header {
  margin: 15px;
}
.esh-header-back {
  color: rgba(255, 255, 255, 0.5);
  line-height: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.35s;
}
.esh-header-back:hover {
  color: #ffffff;
  transition: color 0.35s;
}

.esh-app-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
