@import 'basket';
@import 'identity';
@import 'header';

.esh-app-footer {
  background-color: #000000;
  border-top: 1px solid #eeeeee;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  width: 100%;
  bottom: 0;
}
.esh-app-footer-brand {
  height: 50px;
  width: 230px;
}
