@import '../src/scss/variables';

.esh-catalog-hero {
  background-image: url('/images/main_banner.png');
  background-size: cover;
  height: 260px;
  width: 100%;
}

.esh-catalog-title {
  position: relative;
  top: 74.28571px;
}

.esh-catalog-items {
  margin-top: 1rem;
}

.esh-catalog-item {
  margin-bottom: 1.5rem;
  text-align: center;
  width: 33%;
  display: inline-block;
  float: none !important;
}
@media screen and (max-width: 1024px) {
  .esh-catalog-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .esh-catalog-item {
    width: 100%;
  }
}

.esh-catalog-thumbnail {
  max-width: 370px;
  width: 100%;
}

.esh-catalog-button {
  background-color: #83d01b;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  margin-top: 1rem;
  transition: all 0.35s;
  width: 80%;
}
.esh-catalog-button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.esh-catalog-button:hover {
  background-color: #4a760f;
  transition: all 0.35s;
}

.esh-catalog-name {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.esh-catalog-price {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
.esh-catalog-price::before {
  content: '$';
}
